/*********************************** Setup! *********************************************/

html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {position: absolute;width: 1px;height: 1px;margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(0 0 0 0);overflow: hidden;}

/************************************ Style Guide *********************************************/

/*
Fonts
Nunito (Google Fonts)
Libre Baskerville (Google Fonts)
font-family: 'Nunito', sans-serif;  font-weight: 400 or 900
font-family: 'Libre Baskerville', serif; font-style: italic;
Icons
Font Awesome
Colours
Purple #6e45e2 hsla(256, 73%, 58%, 0.2)
Pink #ed145b   hsla(340, 86%, 50%, 0.2)
Blue #0d4ef7   hsla(223, 94%, 51%, 0.2)
Black #171717
Grey #f1f8fc
*/

:root {
 --purple: #6e45e2;
 --pink: #ed145b;
 --blue: #0d4ef7;
 --black: #171717;
 --lightgrey: #f1f8fc;
 --grey: #b9b9b9;
 --alphawhite: rgba(250,250,250, 0.5);
}

/************************************ General Settings and Stylistic Sugar *********************************************/

html {
  font-size: 62.5%;
} 

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}

ul, li,
h1, h2, 
h3, h4, 
h5, h6,
figure,
p {
  padding: 0;
  margin: 0;
} 

.italics {
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
}

.color-pink {
  color: var(--pink);
  margin-bottom: 1%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 1.2rem;
}

img {
  display: block;
  width: 100%; 
  object-fit: cover; 
}

h1 {
  font-size: 6rem;
}

 h2 {
  font-size: 3rem;
  font-weight: 400;
  padding: 0 7%;
  margin: 0 30%;
}

h3 {
  position: relative;
  font-size: 1.2rem;
  margin-top: 10px;
  text-transform: uppercase;
}

h4 {
  font-size: 1.25rem;
  line-height: 2.25rem;
  font-weight: 400;
  margin-bottom: 2%;
}

p {
  font-size: 1.25rem;
  font-style: italic;
  color: var(--grey);
}

.our-project p,
.blog-news p {
  font-family: 'Libre Baskerville', serif; 
}

.our-projects p,
.our-expert p,
.blog-news p {
  padding: 0 9%;
}

.header-wrapper, /* Margin Wrapper to Center various */
.our-projects,
.score,
.blog-news,
.bottom-blog-wrapper,
.third, 
.footer-wrapper {
    margin: 0 auto;
}

.flex-container,
.mid-middle,
.scroll,
.our-projects,
.our-expert,
.blog-news,
.copyright {
  text-align: center;
}

.nav-hover,
.section-title:before,
.strikethrough:before,
.plus:before,
.plus:after {
    content: '';
    position:absolute;
}

.nav-hover,
.section-title:before,
.plus:before,
.plus:after {
  width: 2px;
}

.section-title:before { 
  background-color: #989898;
  top: -50px;
  bottom: 30px;
  display: block;
}

.section-title:before,
.nav-hover,
.strikethrough:before,
.plus:before,
.plus:after  {
 left: 50%;
}

.plus:before,
.plus:after { 
  background-color: #fff;
  top: 33%;
  bottom:57%;
 }

.plus:after { 
  transform: rotate(90deg);
 }

/************************************ Section 1: Header *********************************************/

header {
  background-image: linear-gradient(45deg, hsla(223, 60%, 50%, 0.3) 20%, 
          hsla(256, 73%, 58%, 0.5) 66%, hsla(340, 86%, 50%, 0.7)), 
          linear-gradient(var(--alphawhite), var(--alphawhite)), 
          url('./assets/image-1.jpeg');
  color: #FFF;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  margin-bottom: 10%;
}

header p {
      color: var(--alphawhite);
      font-style: normal;
}

.header-wrapper {
  width: 90%;
  padding-top: 50px;
}

.flex-container {
  display: flex;
  justify-content:space-between;
}

.horizontal {
  flex-direction:row;
  align-items: center;
  width: 100%;
}

.vertical {
  flex-direction:column;
}

.vertical:nth-child(2) {
  margin-top: 20vh;
}

.horizontal:nth-child(2) {
  margin-top: 20vh;
}

.logo-container {
  display: inline-block;
  min-width: 125px;
}

.nav-hover {  /*Link hover code */
 background-color: var(--alphawhite);
 top: -55px;
 bottom: 45px;
 display: none;
}

nav ul {
  padding-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav ul li {
   position: relative;
   margin-right:40px;
   list-style: none;
}

nav ul li:last-child{
  margin:0;
}

nav ul li a {
 padding: 10px 5px;
}

nav ul li:hover .nav-hover,
nav ul li:active .nav-hover {
  display: block;
}


.right-container {
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-between;
 color: #FFF;
} 

.right-container a{
  font-weight: 400;

} 

.right-container i {
  margin-right: 35px;
}

.right-container svg {
  margin-right: 15px;
  width: 20px;
  border: 1px white solid;
  border-radius: 20px;
} 

.left-middle {
    color: var(--alphawhite);
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
    font-weight: 600;
}

.mid-middle {
margin: 0 28%;
}

.mid-middle a,
.center-flex a {
  margin-top: 50px;
  text-transform: uppercase;
  padding: 20px 40px;
  background: var(--purple);
  border-radius: 30px;
}

.right-middle p {
    padding: 5px 0;
    color: var(--alphawhite);
    font-weight: 600;
}

.strikethrough {
    position: relative;
}

.strikethrough:before { /* Additional element styles in Stylistic Sugar*/
    width:0.5px;
    background: var(--alphawhite);
    top: 0;
    bottom: 0;
    transform: rotate(45deg);
}

.scroll {  /* Rotating the Scroll Div */
  align-self: center;
  margin-top: 17%;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
  color: var(--alphawhite);
}

.scroll p {
    display: inline;
    text-transform: uppercase;
    font-weight: 600;
}

.fade1 {
  color: rgba(250,250,250,0.2);
}

.fade2 {
  color: var(--alphawhite);
}


/************************************ Section 2: Our Projects *********************************************/
.our-projects {
  margin-bottom: 10%;
}

.our-projects p {
  margin: 1% 30%;
}

.filter ul {
  margin-top: 1%;
  display: flex;
  justify-content: center;
}

.filter ul li {
  justify-content: center;
}

.filter ul li a {
  margin: 15px;
  padding: 5px 20px;
  color: var(--grey);
  border-radius: 25px;
}

.filter ul li a:hover {
  margin: 15px;
  padding: 5px 20px;
  background: var(--pink);
  color: #fff;
  border-radius: 25px;
  box-shadow: 3px 7px 38px 3px rgba(0,0,0,0.2);
  transition: box-shadow 0s;
}

ul li a.no-hover {
  background: var(--pink);
  color: #fff;
  border-radius: 25px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.filter ul li:active a {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.gallery-container {
  margin-top: 1%;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery li {
 width: 20%;
 position: relative;
}

li.large-image {
 width: 40%;
}

.gallery figure:hover figcaption,
.gallery figure:active figcaption {    
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.gallery figcaption {
  display: none;
  position: absolute;
  background: var(--pink);
  opacity: 0.8;
  color: #fff;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.gallery figcaption p {
  color: #fff;
  padding: 0;
}

/************************************ Section 3: Our Expert ********************************************/

.our-expert {
  margin-bottom: 5%;
}

.fix-spacing { 
  margin: 1% 30% 2%;
}

.expert-container {
  margin-top: 1%;
}

.expert-gallery {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}

.expert-gallery figure {
  position: relative;  
}

.expert-gallery h3 {
  font-size: 1.5rem;
  text-transform: none;
}

.expert-gallery li {
 max-width: 20%;
 display: flex;
 flex-direction: column;
}


.expert-gallery figure img {
  border-radius: 15px;
  height: 530px;   /*Sorry can't figure out how to make a proper size - Don't judge me*/
}

.center-image {
  margin: 0 20px;
}

.expert-gallery figure:hover figcaption {
  display: block;
}

.expert-gallery figcaption {
  display: none;
  position: absolute;
  background: var(--pink);
  opacity: 0.8;
  color: #fff;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 15px;
}

.social-hover {
  padding: 0 60px;
}

.social {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 257.67px;
}

.social a {
  padding: 10px;
}

.social i {
  font-size: 1.75rem;
  color: white;
}

.score {
  width: calc(60% + 40px);
}

.score ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 5%;
}

.score ul li {
  width: 45%;
  text-align: left;
}

.score p {
  padding: 10px 0 0 75px;
}

.score-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}



.marketing { 
  width: 75%;
}

.design {
  width: 85%;
}

.deliver {
  width: 68%;
}

.field {
  width: 80%;
}

.score-bar {    /*Background grey color for the bar*/
  width: 100%;
  height: 10px;
  background: var(--lightgrey);
  border-radius: 20px;
  margin: 20px 0;
}

.score-color {    /* Adding the gradient to the score-bar */
  height: 10px;
  background: linear-gradient(to right, red, blue);
  border-radius: 20px;  
}



/************************************ Section 4: Blog & News ********************************************/

.blog-background {
  background: var(--lightgrey);
  padding-top: 10%;
  padding-bottom: 10%;
}

.blog-news {
  width: calc(60% + 40px);
}

.blog-news h2 {
  margin: 0 20%;
}

.blog-post {
  margin-top: 4%;
}

.blog-post ul {
  display: flex;
  flex-direction: row;
}

.blog-post ul li {
  border-radius: 20px;
  overflow: hidden;
  transition: box-shadow 0.5s;
}

.blog-post ul li a {
  color: #000;
}

.blog-post ul li:hover {
  box-shadow: 3px 7px 38px 3px rgba(0,0,0,0.2);
}

.blog-post ul li:hover h2{
  color: var(--pink);
}

.bottom-blog-wrapper {
  width: 80%;
  text-align: left;
}

.bottom-blog {
  background: #fff;
}

.bottom-blog h3 {
  margin: 0;
  padding: 10% 0;
}

.bottom-blog h2 {
  padding: 0;
  margin: 0 0 5%;
  font-weight: 600;
  font-size: 1.5rem;
}

.bottom-blog p {
  padding: 0;
  font-size: 1.17rem;
  line-height: 2.25rem;
  margin-bottom: 5%;
}


.writer {
  display:flex;
  align-items: center;
  padding-bottom: 8%;
}

.photo {
  width: 50px;
  height: 50px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 20px;
}


.first-author,
.second-author,
.third-author {
  display: inline;
  position: absolute;
  height: 150%;
  width: auto;
}

.first-author {
  bottom: -10px;
}

.second-author {
  bottom: -25px;
  left: -1px;
}

.third-author {
  left: -35px;
  bottom: -10px;
}

.by-who {
  font-style: italic;
  text-transform: none;
}


/************************************ Section 4: Blog & News ********************************************/

footer {
  background: #000;
  padding-top: 5%;
  color: white;
}

footer p,
footer a {
  font-size: 1.2rem;
  line-height: 2.25rem;
  color: var(--grey);
  margin-bottom: 2%;
}

.left {
  margin-right: 10%;
  /*margin-right: 5px;*/
}

.footer-wrapper {
  width: calc(60% + 40px);
}

.footer-flex {
  display: flex;
  justify-content: space-between;
}

.footer-logo {
  width: 100px;
  margin-bottom: 5%;
}

.footer-contact {
  display: flex;
}

.half {
  width: 45%;
}

.footer-social {
  display: flex;

}

.footer-social a {
  margin-top: 1%;
  padding: 12px;
}

.footer-social a:first-child {
  padding-left: 0;
}

.footer-social i {
  font-size: 1.25rem;
  color: white;
}

.footer-title {
  margin-bottom: 7%;
}

.center-social {
  display: flex;
  margin-bottom: 5%;
}

.center-social i {
  width: 8%;
  margin-right: 10px;
  margin-top: 2px;
}

.twitter-lineup {
  display: flex;
  flex-direction: column;
}

.center-social p,
.center-social h3 {
  margin: 0;
}

.clock-date {
  display: flex;
  align-items: baseline; 
}

.clock-date p {
  width: 100%;
}

.clock-date i {
  margin-right: 10px;
  transform: scale(-1, 1);
}

.center {
  padding-right: 10%;
}

.center p {
  /*padding-right: 10%;*/
}

.copyright {
  text-transform: capitalize;
  margin-bottom: 0;
  padding: 40px;
}

.store-hours {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 3%;
}

.store-hours h4{
  margin: 3% 0;
  width: 50%;
  text-transform: uppercase;
}

.store-hours h4:nth-of-type(2n) {
  text-align: right;
}









/*    #triangle-up {
      width: 0;
      height: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-bottom: 100px solid red;
      position: absolute;
    }


    #parallelogram {
      width: 150px;
      height: 100px;
      transform: skew(-20deg);
      background: red;
      position: absolute;
    }*/
  