/************************************ Setup! *********************************************/

html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {position: absolute;width: 1px;height: 1px;margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(0 0 0 0);overflow: hidden;}

/************************************ Style Guide *********************************************/

/*
Fonts
Nunito (Google Fonts)
Libre Baskerville (Google Fonts)
font-family: 'Nunito', sans-serif;  font-weight: 400 or 900
font-family: 'Libre Baskerville', serif; font-style: italic;
Icons
Font Awesome
Colours
Purple #6e45e2 hsla(256, 73%, 58%, 0.2)
Pink #ed145b   hsla(340, 86%, 50%, 0.2)
Blue #0d4ef7   hsla(223, 94%, 51%, 0.2)
Black #171717
Grey #f1f8fc
*/

:root {
 --purple: #6e45e2;
 --pink: #ed145b;
 --blue: #0d4ef7;
 --black: #171717;
 --grey: #f1f8fc;
}

/************************************ Section 1: General Settings *********************************************/

html {
  font-size: 62.5%;
} 

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}

.italics {
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
}

ul, li,
h1, h2, 
h3, h4, 
h5, h6,
p {
  padding: 0;
  margin: 0;
} 

li {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 1.2rem;
}

img {
  display: block;
  width: 100%;  
}

/************************************ Section 2: Header *********************************************/

header {
  background-image: linear-gradient(45deg, hsla(223, 60%, 50%, 0.3) 20%, 
					hsla(256, 73%, 58%, 0.5) 66%, hsla(340, 86%, 50%, 0.7)), 
					linear-gradient(rgba(250,250,250,0.5), rgba(250,250,250, 0.5)), 
					url('./assets/image-1.jpeg');
  color: white;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 1px;
  position: relative;
}

.header-wrapper {
    width: 90%;
    margin: 0 auto;
}

nav { 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
} 

.logo-container {
  display: inline-block;
  min-width: 60px;
  /* margin-left: 5%;
  margin-right: 15%; */
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav ul li {
   position: relative;
   margin-right:40px;
}

nav ul li:last-child{
  margin:0;
}

nav ul li a {
 padding: 10px 5px;
}

nav ul li:hover .nav-hover,
nav ul li:active .nav-hover {
  display: block;
}

 .nav-hover {  /*Link hover code */
  content: '';
  width:2px;
  background-color: rgba(250,250,250, 0.5);
  position:absolute;
  top: -55px;
  bottom: 45px;
  left: 50%;
  display: none;
 }

 .right-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
} 

.right-container a{
  font-weight: 400;
} 

.right-container i:first-child {
  margin-right: 35px;
}

.right-container i {
  margin-right: 10px;
}

.center-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20vh;
}

.left-middle {
    color: rgba(250,250,250,0.5);
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
    font-weight: 600;
}

.mid-middle {
text-align: center;
margin: 0 25%;
}

h1 {
  font-size: 6rem;
}

h3 {
  font-size: 1.2rem;
  margin-top: 10px;
  text-transform: uppercase;
}

.center-flex a {
  margin-top: 50px;
  text-transform: uppercase;
  padding: 20px 40px;
  background: var(--purple);
  border-radius: 30px;
}



.right-middle p{
    padding: 5px 0;
    color: rgba(250,250,250,0.5);
    font-weight: 600;
}

.strikethrough {
    position: relative;
}

.strikethrough:before {
    content: '';
    width:0.5px;
    background:  rgba(250,250,250,0.5);
    position:absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: rotate(45deg);
}

.scroll {
    position: absolute;
    bottom: 6%;
    left: 50%;
    transform: rotate(-90deg);
}



.scroll p {
    display: inline;
    text-transform: uppercase;
    font-weight: 600;
}



/* 
.england {
  position: relative;
}
.england img{
  position: absolute;
  width: 20px;
  top: 0;
  border: 1px solid white;
  border-radius: 30px;
} */
